@model HeavenlyPizzeriaWebUI.Models.HomeViewModel

@{
    ViewBag.Title = "Pizza HeavenHome Page";
}

<div class="jumbotron" style="background-image:url('http://fullhdpictures.com/wp-content/uploads/2015/10/Best-of-Heaven-Wallpaper.jpg');background-repeat:no-repeat;">

    <h1>Welcome to Heavenly Pizzeria </h1>
    <p class="lead">Pizza ambrosia to die for served piping hot!</p>
</div>

<div class="row">
    @{foreach (var pizza in Model.Pizzas)
        {
            <div class="col-md-4">
                <h2>@pizza.Name ($@pizza.Price)</h2>
                <p>
                    @pizza.Description
                </p>
                <p>
                        <a class="btn btn-default" href="@Url.Action("Index", "OrderPizza", new { id = pizza.id})">Order it! &raquo;</a>
                </p>
            </div>
            }
        }
    </div>


</div>