@{
    ViewBag.Title = "Pizza HeavenHome Page";
}

<div class="jumbotron" style="background-image:url('http://fullhdpictures.com/wp-content/uploads/2015/10/Best-of-Heaven-Wallpaper.jpg');background-repeat:no-repeat;">

    <h1>Welcome to Heavenly Pizzeria </h1>
    <p class="lead">Pizza ambrosia to die for served piping hot!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chastity</h2>
        <p>
            Pure pizza with only the best ingriedents to love.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Order it&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Temperance</h2>
        <p>Vege lovers delight.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Order it &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Charity</h2>
        <p>Meat Lovers are going to be oncloud 9.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Order it &raquo;</a></p>
    </div>
</div>